<h1 class="mt-4">Serviços Prestados</h1>
<ol class="breadcrumb mb-4">
  <li class="breadcrumb-item active"> {{ servico.id ? 'Editar' : 'Cadastro' }}</li>
</ol>

<div class="container">
  <form #servicosForm="ngForm" (ngSubmit)="onSubmit()">

    <!-- Alertas -->
    <div class="row">
      <div class="col-md-12">

        <!-- Sucesso -->
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          {{ successMessage }}
        </div>

        <!-- Erro -->
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{ erro }}
        </div>
      </div>
    </div>
    
    <!-- Formulario -->

    <!-- Cliente: (id) -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Cliente: *</label>
          <select class="form-control" [(ngModel)]="preSelectCliente"
                  [(ngModel)]="servico.idCliente" name="idCliente">
            <option value="">Selecione...</option>
            <option *ngFor="let cliente of clientes" [ngValue]="cliente.id">
              {{ cliente.nome }}
            </option>
          </select>
        </div>
      </div>
    </div>
      
    <!-- Descricao: -->
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Descricao: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="servico.descricao" name="descricao" />
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Data: -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Data: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="servico.data" name="data" />
        </div>
      </div>
      
      <!-- Valor: -->
      <div class="col-md-6">
        <div class="form-group">
          <label>Valor: *</label>
          <input type="text" class="form-control"
                 [(ngModel)]="servico.preco" name="preco" />
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-4">
        
        <!-- Botao Salvar -->
        <button type="submit" class="btn btn-success ml-1" *ngIf="!servico.id">
          <i class="fa fa-save"></i>
          Salvar
        </button>

        <!-- Botao Atualizar -->
        <button type="submit" class="btn btn-primary ml-1" *ngIf="servico.id">
          <i class="fa fa-sync-alt"></i>
          Atualizar
        </button>
        
        <!-- Botao Voltar -->
        <button id="button" class="btn btn-danger ml-1" (click)="voltarLista()">
          <i class="fa fa-arrow-alt-circle-left"></i>
          Voltar
        </button>

      </div>
    </div>

  </form>
</div>
